.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.movieList {
  height: 100%;
  overflow: auto;
}

.logo-vertical{
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}